# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
*/node_modules/


# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# IDEs
.idea
*.iml
.vscode

# nodeshift
tmp/

pids
logs
results

# Ignore built ts files
*/dist/**/*
*/.nuxt

# OS metadata
.DS_Store
Thumbs.db