# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
*/node_modules/

# Jest files
coverage

# Typescript v1 declaration files
# Let typings go up to test if that fixes deployment
# typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# IDEs
.idea
*.iml
.vscode

# nodeshift
tmp/

pids
logs
results

# Ignore built ts files
*/dist/**/*
*/.nuxt
*/.next
production-server

# OS metadata
.DS_Store
Thumbs.db
api/.env.prod

# rest client
*.http
